.option-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.option-text {
  font-size: 16px;
}

ion-action-sheet.my-custom-class {
  --background: #f58840;
  --backdrop-opacity: 0.6;
  --button-background-selected: #e97223;
  --button-color: #000000;
  --color: #fff;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}

.photoUploader {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1em;

  
  ion-button.buttonPhotoUploader {
    --background: transparent !important;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;

    transition: transform 0.2s ease, opacity 0.2s ease;

    ion-thumbnail {
      --size: 100px;
      --border-radius: 14px;
    }
  }
  ion-button:active {
    transform: scale(0.95);
    opacity: 0.8;
  }
}

