<ion-header collapse="condense">
    <ion-title size="large">Formulario Mascota</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <form id="petForm" form action="submit" (ngSubmit)="onSubmit()" [formGroup]="petForm">
    <!-- Email input -->
      <ion-list class="formList" role="list">
        <!-- <ion-item role="listitem">
          <ion-select (ionChange)="onSelectChange($event)" aria-label="Raza" interface="modal" [placeholder]="placeholderMessages.breedSelect || ''" formControlName="breed">
            <ion-select-option value="">Ninguna</ion-select-option>
            @for (breed of breeds; track breed) {
              @if (breed) {
                <ion-select-option [value]="breed.id">
                  <div class="option-content">
                    <img [src]="breed.image" alt="{{ breed.name }}" class="option-image" />
                    <span class="option-text">{{ breed.name }}</span>
                  </div>
                </ion-select-option>
              }
            }
            @empty {
              <li>No hay razas actualmente.</li>
            }
          </ion-select>
        </ion-item> -->

        <ion-item role="listitem">
          <div class="photoUploader">
            <ion-button type="button" role="button" class="buttonPhotoUploader" (click)="onSelectImage()">
              <ion-thumbnail slot="start">
                <ion-img [class.clicked]="isClicked" [src]="previewImage || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'"></ion-img>
              </ion-thumbnail>
            </ion-button>
          </div>
        </ion-item>
        <ion-item role="listitem">
          <app-input
            [areaLabel]="'Nombre'"
            [name]="'name'"
            [type]="'text'"
            [inputmode]="'text'"
            [required]="true"
            [class]="'main-input'"
            [control]="getControl('name')"
            [role]="'textbox'"
            [validState]="petForm.get('name')?.invalid && petForm.get('name')?.touched && formSubmited"
            [errors]="petForm.get('name')?.errors ?? null"
            [label]="placeholderMessages.name || ''"
            [placeholder]="placeholderMessages.name || ''">
          </app-input>
        </ion-item>
        <!-- Breed input -->
        <ion-item role="listitem">
          <app-input
            [areaLabel]="'Email'"
            [name]="'breed'"
            [type]="'text'"
            [inputmode]="'text'"
            [required]="true"
            [class]="'main-input'"
            [control]="getControl('breed')"
            [role]="'textbox'"            
            [validState]="petForm.get('breed')?.invalid && petForm.get('breed')?.touched && formSubmited"
            [errors]="petForm.get('breed')?.errors ?? null"
            [label]="placeholderMessages.breed || ''"
            [placeholder]="placeholderMessages.breed || ''">
          </app-input>
        </ion-item>
        <!-- Sex -->
        <ion-item style="display: block;" role="listitem">
          <label for="">Sexo</label>
          <ion-radio-group value="custom-checked"> 
            <div>
              <label [for]="sexValue.femenimo">{{placeholderMessages.female || ""}}</label>
              <ion-radio [name]="sexValue.femenimo" [value]="sexValue.femenimo" aria-label="Checkbox para elegir sexo femenino de la mascota"></ion-radio>
            </div>
            <div>
              <label [for]="sexValue.masculino">{{placeholderMessages.male || ""}}</label>
              <ion-radio [name]="sexValue.masculino" [value]="sexValue.masculino" aria-label="Checkbox para elegir sexo masculino de la mascota"></ion-radio>
            </div>
          </ion-radio-group>
        
        </ion-item>
        <!-- Repeat password input -->
        <ion-item role="listitem">
          <app-input
            [areaLabel]="'Edad'"
            [name]="'age'"
            [type]="'number'"
            [inputmode]="'number'"
            [class]="'main-input'"
            [control]="getControl('age')"
            [role]="'number'"
            [validState]="petForm.get('age')?.invalid && petForm.get('age')?.touched && formSubmited"
            [errors]="petForm.get('age')?.errors ?? null"
            [label]="placeholderMessages.age || ''"
            [pattern]="'\d*'"
            [placeholder]="placeholderMessages.age || ''">
          </app-input>
        </ion-item>
      </ion-list>
      <ion-item slot="fixed" class="bottom-absolute">
        <app-button [role]="'submit'" [form]="'petForm'" [type]="'submit'" [class]="'primary-button'" [buttonContent]="paragraphMessages.createPetForm"></app-button>
      </ion-item>
  </form>
</ion-content>

<!--      <ion-button id="open-action-sheet">Open</ion-button>
 <ion-action-sheet
  trigger="open-action-sheet"
  class="my-custom-class"
  header="Example header"
  subHeader="Example subheader"
  [buttons]="actionSheetButtons"
>
<ion-searchbar></ion-searchbar>

</ion-action-sheet> -->
