<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <app-logo
      [customStyles]="{ 'width': '65%' }"
      [logoPath]="logoPath"
      class="main-logo">
    </app-logo>
  </div>
  <div>
    <form action="submit">
      <!-- Email input -->
       <ion-list>
        <ion-item>
          <ion-input
            label="Email"
            area-label="Email"
            labelPlacement="stacked"
            type="email"
            [placeholder]="placeholderMessages['email'] || ''"
            [errorText]="errorMessages.email || ''"
          ></ion-input>
        </ion-item>
       </ion-list>
    </form>
  </div>
</ion-content>
