<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <app-logo
      [customStyles]="{ 'width': '60%' }"
      [logoPath]="logoPath"
      class="main-logo">
    </app-logo>
  </div>
  <div class="">
    <form id="loginForm" action="submit">
      <!-- Email input -->
       <ion-list>
        <ion-item>
          <ion-input
            area-label="Email"
            type="email"
            autocomplete="email"
            color="primary"
            inputmode="email"
            required
            class="login"
            [placeholder]="placeholderMessages.email || ''"
            
          ></ion-input>
        </ion-item>
        <!-- Password input -->
         <ion-item>
          <ion-input
            area-label="Contraseña"
            type="password"
            inputmode="password"
            required
            class="login"
            [placeholder]="placeholderMessages.password || ''"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-button
            expand="block"
            shape="round"
            buttonType="submit"
            form="loginForm"
          >Iniciar sesión
          </ion-button>
        </ion-item>
        <ion-item>
          <p>{{ paragraphMessages.loginFortgotPassword || "" }}</p>
        </ion-item>
       </ion-list>
    </form>
    <p class="register-link">
      {{placeholderMessages!['singUpParagraph'] || ""}}
      <a href="/register" class="register">{{placeholderMessages!.singUp || ""}}</a>.
    </p>
  </div>
</ion-content>
