@use '@theme/variables.scss' as *;

ion-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    > * {
        margin-bottom: #{$distance};
    }

    ion-item {
        ion-button {
            width: 100%;
            font-family: $paragraph-font;
            font-weight: bold;
            --background: #{$terciary-color};
            --border-color: #{$secondary-color};
            --border-radius: 1.3em;
            --border-style: solid;
            --border-width: 3px;
            --color: #{$black-color};
        }

        p {
            text-align: center;
            width: 100%;            
            opacity: 0.7;
        }
    }
}

.register-link {
    text-align: center;
    margin-top: auto;
    margin-bottom: 16px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}

.register-link a {
    color: var(--ion-color-primary, #3880ff);
    text-decoration: none;
    font-weight: bold;
}
