app-secondary-button {
    display: contents;
}

.forgot-password {
    text-align: end;
    width: 100%;
    height: fit-content;
    margin-bottom: 1em;
    margin-top: .4em;

    p {
        padding-right: 2em;
        margin: 0;
        font-size: smaller;
    }
}

.last-item {
    margin-bottom: 0;
}