<app-header></app-header>

<ion-content [fullscreen]="true">
  <h4 class="container mt-1">
    {{petTitle}}
  </h4>
  <div class="pet-card-container">
    @for (dog of dogs; track dog; let i = $index) {
      <div class="pet-card">
        <ion-thumbnail slot="start">
          <ion-img class="pet-card-img" [src]="i === 0 ? '../../../../assets/icon/plus.png' : '../../../../assets/icon/logo.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ i === 0 ? 'Nuevo' : (dog.name || '') }}</h2>
        </ion-label>
      </div>
    }
  </div>

  <h4 class="container">
    {{taskTitle}}
  </h4>
  <app-schelude></app-schelude>
</ion-content>
