@use '@theme/variables.scss' as *;

.pet-card-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px;
    text-align: center;
    gap: 10px;
    

    .pet-card {
        ion-thumbnail {
            width: $pet-card-size;
            height: $pet-card-size;

            .pet-card-img {
                border-radius: 50%;
                border: 2px solid $secondary-color;
                width: 100%;
                height: 100%;
            }
        }
    } 
};

h4 {
    color: $primary-color;
}

swiper-container {
  width: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
}

.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-img-wrapper {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #ff3c5f; // Color estilo Instagram
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-name {
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70px;
  overflow: hidden;
}

.subTaskTitle {
  margin-top: .5em;
}

.taskNewItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $distance;
}