@use '@theme/variables.scss' as *;

.pet-card-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px;
    text-align: center;
    gap: 10px;
    

    .pet-card {
        ion-thumbnail {
            width: $pet-card-size;
            height: $pet-card-size;

            .pet-card-img {
                border-radius: 50%;
                border: 2px solid $secondary-color;
                width: 100%;
                height: 100%;
            }
        }
    } 
}  