@use '@theme/variables.scss' as *;

ion-input.login {
    border: 1.5px solid $terciary-color;
    border-radius: 10px;
    --padding-end: 10px;

    
    
    --padding-start: #{$distance};
    --placeholder-font-style: #{$paragraph-font};
    --placeholder-color:  #{$black-color};

    max-width: $max-length;

    --placeholder-font-style: #{$paragraph-font};
    --highlight-color-focused: #{$black-color};
}

.error {
    border-color: $danger-color !important;
}

ion-title {
    width: 100%;
    text-align: center;
}