@use '@theme/variables.scss' as *;

ion-input.login {
    border: 3px solid $terciary-color;
    border-radius: 1.2em;
    padding: .5em;
    
    --padding-start: #{$distance};
    --placeholder-font-style: #{$paragraph-font};
    --placeholder-color:  #{$black-color};

    max-width: $max-length;

    --placeholder-font-style: #{$paragraph-font};
    --highlight-color-focused: #{$black-color};
}