@use '@theme/variables.scss' as *;

ion-input.login {
    // border: 1.5px solid #111;
    // border-radius: 10px 10px 0 0;
    
    --background: #dfdfdf;
    --border-radius: 10px 10px 0px 0px;
    --border-color: #{$black-color};

    --padding-end: 10px;    
    --padding-start: #{$distance};
    --placeholder-font-style: #{$paragraph-font};
    --placeholder-color:  #{$black-color};
    --highlight-color-focused: #{$black-color};
}

.error {
    border-color: $danger-color !important;
}

ion-title {
    width: 100%;
    text-align: center;
}
