@if (!emailFormSubmitted || !validEmail) {
  <ng-container>
    <form id="emailForm" form action="submit" [formGroup]="emailForm">
      <h5 class="container form-title">Introduce tu email para restablecer la contraseña</h5>
      <!-- Email input -->
      <ion-item role="listitem">
        <app-input
          [areaLabel]="'Email'"
          [name]="'email'"
          [type]="'email'"
          [autocomplete]="'email'"
          [inputmode]="'email'"
          [required]="true"
          [class]="'main-input'"
          [control]="getEmailControl('email')"
          [role]="'textbox'"            
          [validState]="emailForm.get('email')?.invalid && emailForm.get('email')?.touched && emailFormSubmitted"
          [errors]="emailForm.get('email')?.errors ?? null"
          [label]="placeholderMessages.email || ''"
          [placeholder]="placeholderMessages.email || ''">
        </app-input>
      </ion-item>
      <ion-item role="listitem" slot="fixed" class="bottom-absolute">
        <app-button 
          [role]="'submit'" 
          [form]="'emailForm'" 
          [type]="'submit'" 
          [class]="'primary-button'" 
          [buttonContent]="paragraphMessages.send || 'Enviar'"
          (onButtonClicked)="submitEmail()"
          >
        </app-button>
      </ion-item>
    </form>
  </ng-container>
}

@else if(emailFormSubmitted && validEmail) {
  <ng-container>
    <form id="passwordForm" form action="submit" [formGroup]="passwordForm">
      <h5 class="container form-title">Introduce la nueva contraseña</h5>
      <!-- Email input -->
      <ion-item role="listitem">
        <app-input
          class="password-input"
          [areaLabel]="'Contaseña'"
          [name]="'newPassword'"
          [type]="'password'"
          [inputmode]="'password'"
          [required]="true"
          [class]="'main-input'"
          [control]="getPasswordControl('newPassword')"
          [role]="'textbox'"            
          [validState]="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched && passwordFormSubmitted"
          [errors]="passwordForm.get('newPassword')?.errors ?? null"
          [label]="placeholderMessages.password || ''"
          [placeholder]="placeholderMessages.password || ''">
        </app-input>
      </ion-item>
      <ion-item role="listitem">
        <app-input
          [areaLabel]="'Confirmar Contaseña'"
          [name]="'confirmPassword'"
          [type]="'password'"
          [inputmode]="'password'"
          [required]="true"
          [class]="'main-input'"
          [control]="getPasswordControl('confirmPassword')"
          [role]="'textbox'"            
          [validState]="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched && passwordFormSubmitted"
          [errors]="passwordForm.get('confirmPassword')?.errors ?? null"
          [label]="placeholderMessages.confirmPassword || ''"
          [placeholder]="placeholderMessages.confirmPassword || ''">
        </app-input>
      </ion-item>
      @if (passwordForm.errors?.['passwordsMismatch'] &&
          passwordForm.get('password')?.valid &&
          passwordForm.get('confirmPassword')?.valid &&
          passwordForm) 
          { 
            <small style="margin-left: 2em; color: red;">{{errorMessages.passwordValidation || ""}}</small> 
          }
      <ion-item role="listitem" slot="fixed" class="bottom-absolute">
        <app-button 
          [role]="'submit'" 
          [form]="'passwordForm'" 
          [type]="'submit'" 
          [class]="'primary-button'" 
          [buttonContent]="paragraphMessages.update || 'Actualizar'"
          (onButtonClicked)="submitPassword()"
          >
        </app-button>
      </ion-item>
    </form>
  </ng-container>
}