@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

// Typography
$title-font: 'Baloo 2', sans-serif, cursive;
$paragraph-font: 'Nunito Sans', sans-serif;

$primary-color: #F89E6A;
$secondary-color: #007BFF;
$tertiary-color: #74B3F5;
$danger-color: #dc3545;

//$color-whithe-background: #F9F9F9;
$background-color-white: #F5F8FF;

$black-color: #343a40;

$paraprah-size: 12px;

$max-length: 350px; // Ancho de un móvil promedio