<ion-label>{{ label || 'Fecha' }}{{required ? "*" : ""}}</ion-label>
<ion-datetime-button [datetime]="idValue"></ion-datetime-button>

<ion-modal #dateModal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      [id]="idValue"
      presentation="date"
      locale="es-ES"
      [formatOptions]="{
        date: {
          day: '2-digit',
          month: '2-digit',
          year: 'numeric'
        },
      }"
      [value]="value"
      (ionChange)="onChange($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>