<div class="d-flex justify-content-center text-center align-items-center mb-3 px-2 schelude-header"> <!--justify-content-between-->
  <h4 class="mb-0 text-center">
    {{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}
  </h4>

  <!-- <div class="btn-group ms-3">
    <ion-select 
      aria-label="Vista del calendario" 
      interface="popover" 
      placeholder="vista"
      class="ms-3"
      [value]="view"
      (ionChange)="setView($event.detail.value)">
        <ion-select-option [value]="CalendarView.Month">Mes</ion-select-option>
        <ion-select-option [value]="CalendarView.Week">Semana</ion-select-option>
        <ion-select-option [value]="CalendarView.Day">Día</ion-select-option>
    </ion-select>
  </div> -->
</div>


<div
  [ngSwitch]="view"
  class="container calendar-container calendar-touch calendar-view"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()"
  style="touch-action: pan-y;"
  >
    <mwl-calendar-month-view
      class="calendar"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      [cellTemplate]="customCellTemplate"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      class="calendar"
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      class="calendar"
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<app-month-cell-template style="display: none;"></app-month-cell-template>