@use '@theme/variables.scss' as *;

h3 {
    margin: 0;
}

h4 {
    color: $black-color;
}

pre {
    background-color: $background-color-white;
    padding: 15px;
}

.calendar {
    --background: $background-color-white;
}

.calendar-touch {
    display: block;
    touch-action: pan-y;
}

::ng-deep .cal-month-view {
    background-color: $background-color-white;
    .cal-day-cell {
        min-height: 70%;
        border-color: $background-input-grey;
    }

    .cal-day-number {
        margin-top: 10px;
    }
}

ion-select {
    font-size: large;
}

.schelude-header {
    margin: 0 .3em;
}