<app-header [title]="optionSelected !== 1 ? 'Volver' : 'Perfil de usuario'" [isDashboard]="false" (onBackButtonClicked)="goBack()"></app-header>

@if (optionSelected === -1) {
  <ion-content [fullscreen]="true">
    <div class="user-menu-container">
      <ion-button expand="block" fill="clear" class="user-menu-option" (click)="redirectToEditProfile()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <span>Editar perfil</span>
      </ion-button>
  
      <ion-button expand="block" fill="clear" class="user-menu-option" (click)="redirectToChangePassword()">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <span>Cambiar contraseña</span>
      </ion-button>

      <ion-button expand="block" fill="clear" class="user-menu-option" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <span>Cerrar sesión</span>
      </ion-button>
  
      <ion-button expand="block" fill="clear" class="user-menu-option delete" (click)="confirmDeleteAccount()">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <span>Eliminar cuenta</span>
      </ion-button>
    </div>
  </ion-content>
}
@else if(optionSelected === 1) {
  <app-user-profile class="form"></app-user-profile>
}


@else if(optionSelected === 2) {
  <app-change-password class="form"></app-change-password>
}
