/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use 'theme/variables.scss' as *;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
  --ion-background-color: #{$background-color-white};

  --ion-text-color: #{$black-color};
  --ion-font-family: #{$paragraph-font};

  --ion-color-primary: #{$primary-color};
//  --ion-color-primary-rgb: 248, 158, 106;
  --ion-color-secondary: #{$secondary-color};
  --ion-color-terciary: #{$terciary-color};

  --ion-item-background: #{$background-color-white};
  --ion-toolbar-background: #{$background-color-white};

  --background: $background-color-white;
}

app-input {
  width: 100%;  
  
  ion-input {
    width: 100%;
  }
}

ion-title {
  color: $primary-color;
  font-family: $title-font;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

ion-item {
  --inner-border-width: 0; /* Delete de border */
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $primary-color;
}


p {
  font-family: $paragraph-font;
  color: $black-color;
}

a {
  text-decoration: none;
  color: $primary-color;
  opacity: 1;
  font-weight: bold;
}


ion-list.formList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  > ion-item {
      margin-bottom: #{$distance};
  }
}

app-button {
  display: contents;
}

ion-input {
  --highlight-color-focused: #{$black-color};
}

.main-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
}

.bottom-absolute {
  text-align: center;
  margin-top: auto;
  margin-bottom: 16px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}

.register-link {
  display: flex;
  flex-flow: column;
}

.logo-container {
  aspect-ratio: 16 / 9;
  margin-top: 2em;
}

.title {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold; 
  width: 100%; 
  text-align: center;
  padding: 0;

  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

// Boton for open modal
.modal-container-button {
  border: 1px solid $black-color;
  border-radius: $border-radius;
  width: 100%;
  padding: 1em;
  
  .container-modal-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modalOptionSelected {
    display: flex;
    justify-content: start !important;
  
    ion-avatar {
      margin-right: 1em;
    }
  }
}

// Elimina box-shadow del ion-footer
ion-footer.footer-md {
  box-shadow: none;
  --webkit-box-shador: none;
}

app-input-radio {
  width: 100%;
}

// Se desactivan estilos de status en form por defecto
ion-input.ion-valid,
ion-input.ion-invalid,
ion-textarea.ion-valid,
ion-textarea.ion-invalid {
  --highlight-color-focused: $black-color !important;
  --highlight-color: $black-color !important;
  --border-color: $black-color !important;
  --color: $black-color !important;
}

// Forzar estilos claros hasta que se implemente modo oscuro
@media (prefers-color-scheme: dark) {
  :root.md {
    color-scheme: light;

    --ion-background-color: #{$background-color-white};

    --ion-text-color: #{$black-color};
    --ion-font-family: #{$paragraph-font};

    --ion-color-primary: #{$primary-color};
    //--ion-color-primary-rgb: 248, 158, 106;
    --ion-color-secondary: #{$secondary-color};
    --ion-color-terciary: #{$terciary-color};

    --ion-item-background: #{$background-color-white};
    --ion-toolbar-background: #{$background-color-white};

    --background: $background-color-white;
  }
}