<ng-template #monthCellTemplate let-day="day">
  <div class="cal-day-cell d-flex flex-column justify-content-between h-100">
    <div class="cal-day-number text-end pe-1 pt-1">
      <h4>{{ day.date | date: 'd' }}</h4>
    </div>

    <div class="cal-day-events d-flex flex-wrap justify-content-start px-1 pb-1 align-items-center">
      <ng-container *ngIf="day.events.length <= 3; else moreEvents">
        <div
          *ngFor="let event of day.events"
          class="event-dot"
          [style.backgroundColor]="event.color?.primary"
          [title]="event.title"
        ></div>
      </ng-container>

      <ng-template #moreEvents>
        <div
          *ngFor="let event of day.events.slice(0, 2)"
          [style.backgroundColor]="event.color?.primary"
          [title]="event.title"
        ></div>
        <span class="dot-number" [title]="'+' + (day.events.length)">
          +{{ day.events.length }}
          <span class="event-dot dot-inline"></span>
        </span>
      </ng-template>
    </div>
  </div>
</ng-template>