@use '@theme/variables.scss' as *;

h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.calendar-container {
    touch-action: pan-y;
    height: 100%;
}

.calendar {
    --background: $background-color-white;
}